body{
  background-color: #151515;
  color: #b0b0b0;
  width: 650px;
  height: 550px;
  padding: 10px;
}
.row{
  display: flex;
}
#add-button{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
input[type="text"],
input[type="email"],
select,
textarea {
  font-size: 14px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffffff;
  border: 2px solid #727272;
  background-color: #292929;
}
form label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
button.btn {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #2b2b2b;
  background-color: #727272;
  color: #252525;
  cursor: pointer;
  width: 100%;
}
textarea#description {
  height: 320px;
}
.loading{
  text-align: center;
}
.bookmarks-list{
  /** scrollable */
  overflow-y: auto;
  height: 450px;

}
a{
  color: #ffffff;
  text-wrap: wrap;
}
.item-row-title{
  cursor: pointer;
}
.activate.item-row{
  border: 2px solid #7e7d7d;
}
.item-row{
  background: #2e2e2e;
  border-radius: 6px;
  padding: 10px;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #3f3f3f;
  box-shadow: 0px 0px 1px 0px #595959;
}
h4{
  font-size: 15px;
  letter-spacing: -0.1px;
  color: #f2f2f2;
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  font-weight: 400;
}
.mt-2{
  margin-top: 12px;
}
button.btn:hover{
  background: white;
  color: #252525;
}
.category-label{
  font-weight: bold;
  background: white;
  color: #3d3d3d;
  display: initial;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
}
.btn-link{
  background: white;
  color: #252525;
}
button.btn.btn-error{
  background: #611b1b;
  color: #fff0f0;
}
button.btn.btn-error:hover{
  background: rgb(107, 38, 38);
  color: rgb(215, 197, 197);
}
button.add-btn path{
  stroke: #8f8f8f;
}
button.add-btn{
  background: #252525;
  border: 0px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 0px darkgrey;
  padding: 10px;
}
/* Remove the border focus on input */
input:focus {
  outline: none;
  border: 2px solid transparent; /* Hide the border */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a box shadow for focus */
}

/* Add back a border when the input is focused and hovered (optional) */
input:focus:hover {
  border: 2px solid #ccc;
}

.more-details-hidden{
  display: none;
}
.more-details-show{
  padding-top: 10px;
}
.categories{
  float: left;
  width: 30%;
}
.bookmarks-list{
  float: right;
  width: 70%;
}
.categories ul li:hover{
  background: #3f3f3f;
  cursor: pointer;
}
.categories ul {
  padding: 0px;
  margin: 0px;
  padding-right: 10px;
}
.categories ul li {
  list-style: none;
  padding: 7px;
  margin-top: 5px;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  margin-bottom: 5px;
  background: #2e2e2e;
  font-weight: bold;
}
.categories ul li.selected {
  color: #151515;
  background: #737373!important;
}
.no-found-list path{
  stroke: #8f8f8f;
}
.no-found-list svg{
  padding-top: 80px;
}
.no-found-list{
  text-align: center;
  font-size: 16px;
}
.drop{
  background-color: blue!important;
}
.info{
  margin-top: 10px;
}
.info label{
  font-weight: bold;
  margin-right: 5px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.4em; /* Adjust as needed for two lines of text */
  line-height: 1.2em; /* Should be half of max-height to show two lines */
}
.categories{
  height: 420px;
  overflow: overlay;
}
.content-message {
  white-space: pre-line;
}