body{
  background-color: #151515;
  color: #b0b0b0;
  width: 350px;
  height: 420px;
  padding: 10px;
}
#add-button{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
input[type="text"],
input[type="email"],
select,
textarea {
  font-size: 14px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffffff;
  border: 2px solid #727272;
  background-color: #292929;
}
form label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
button.btn {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #2b2b2b;
  background-color: #727272;
  color: #252525;
  cursor: pointer;
  width: 100%;
}
textarea#description {
  height: 320px;
}
.loading{
  text-align: center;
}
.bookmarks-list{
  /** scrollable */
  overflow-y: auto;
  height: 410px;

}
a{
  color: #ffffff;
  text-wrap: wrap;
}
.item-row{
  background: #2e2e2e;
  border-radius: 4px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 1px;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
}
h2{
  font-size: 16px;
  letter-spacing: -0.7px;
  color: white;
  /** capitalize */
  text-transform: capitalize;
}
.mt-2{
  margin-top: 12px;
}
button.btn:hover{
  background: white;
  color: #252525;
}
.category-label{
  font-weight: bold;
  background: white;
  color: #3d3d3d;
  display: initial;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
}
.btn-link{
  background: white;
  color: #252525;
}
button.btn.btn-error{
  background: #611b1b;
  color: #fff0f0;
}
button.btn.btn-error:hover{
  background: rgb(107, 38, 38);
  color: rgb(215, 197, 197);
}